Button {
    background-color: #1f365e;
    color: white;
    font-weight: 700;
    padding: 0.8rem 1.8rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
  }
  
Button:hover {
    background-color: #1f365e;
    color: white;
    font-weight: 700;
    padding: 0.8rem 1.8rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
  }